#.ipynb stands for interactive python notebook

In [2]:
a=10

In [3]:
print(a)

10

In [4]:
# hastag is used as comment in 'code' compiler do not read it ...as it is a comment but in 'markdown' those comments are printed

###### use of Markdown is for printing the description written by using hastag(6 hastag)
## jitne hastag lagayege unta small letter hoga as like in html h1,h2 etc...(2 hastag)
wothout hastag bhi print hoga but size default rahega(without hastag)

In [5]:
# 'shift + enter' is short cut to execute

In [6]:
#just before the run option..interrupt icon is seen which stops running of infinte loop

In [8]:
#copy(just select the cell any then press the copy symbol and go to cell where you want to paste and press the paste icon just right side of copy
#shortcut is copy by ctrl+c and then paste where you want by ctrl+v

In [9]:
'''multi line comment are given
by triple quotes of single line(or we also give multiline comment by double quotes too)
'''

'multi line comment are given\nby triple quotes of single line(or we also give multiline comment by double quotes too)\n'

## markdone is used of title for eg below
# WElcone in Python
1) lets star code

In [10]:
1+3

4

In [11]:
print(1+3)

4

In [13]:
#dono me difference to pata chal gaya hoga..without print wala output consult ke lioye hota hai

In [14]:
print("HELLO WORLD")

HELLO WORLD

In [15]:
print('''for mutlti line under print
we use triple sigle quotes''')

for mutlti line under print
we use triple sigle quotes

# let's learn about ASSignment variables

In [18]:
name='ankush
company="pwskills"  # double or single quotes are important whenever you played with strings
age=17
college='Ld'

In [20]:
name

'ankush'

In [22]:
college="vgec"#we can update values too

In [23]:
college

'vgec'

In [24]:
type(company) # type of variables can be judge by using such comments

str

In [25]:
type(age)

int

In [26]:
type(1+2j) # complex no. ka type bhi batayega

complex

In [28]:
"""variable name can start with alphabhets(uper and lower case both) and by underscore(_)  
reserved key words such as loat,int,etc..are not allowed. 
white sapace too not allowed
numbers, special symbols  can be used after using first letter as mention very above"""

'variable name can start with alphabhets(uper and lower case both) and by underscore(_)  \nreserved key words such as loat,int,etc..are not allowed. \nwhite sapace too not allowed\nnumbers, special symbols  can be used after using first letter as mention very above'

In [32]:
5num=32 # not allowed

SyntaxError: invalid decimal literal (3775388113.py, line 1)

In [33]:
5num

SyntaxError: invalid decimal literal (4223410424.py, line 1)

In [34]:
### bool variable

In [36]:
True

True

In [37]:
True or False

True

In [38]:
False and True

False

In [39]:
not False

True

In [40]:
type(False)

bool

In [45]:

bool(4) # and other than zero is true

True

In [42]:
bool(0)

False

In [43]:
bool()

False

In [44]:
bool(a)

True

In [46]:
a=1
if bool(a)==False:
    print("Good morning ankush")
else:
    print("Good evening,ankush")

Good evening,ankush

In [47]:
# now, above numbers are letter and numbers which converted in bool and this is known as typecasting

In [48]:
#typecasting
type(str(23))

str

In [50]:
a=2
type(a)

int

In [54]:
(float(a))

2.0

Dynamic Typing

In [58]:
# phyton is good language as in c++ and java we define such as int a=5 but in python it understand type automatically 
a=5 #it unerstand that it is int
b='jai shree ram' # will understand type of b
print(type(b))

<class 'str'>

Concatenation between different types

In [63]:
"1"+" 4" # addition of two int values by converting it strings

'1 4'

In [64]:
"1"+5 # one is string and other is int..which is not possible hence error will be occurs

TypeError: can only concatenate str (not "int") to str

In [70]:
"an"+"kush"

'ankush'

In [72]:
2.05+3 # one in float other in int ..hence result converted into float

5.05

In [73]:
"1" / str(1) # divide is not possible on string

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [74]:
"3"+str(3) #addition possible

'33'

In [75]:
"4"-str(2) #subtraction is not possible

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [76]:
"2"*str(4) # mutiplication is possible

TypeError: can't multiply sequence by non-int of type 'str'

In [77]:
#but, aisa sab bhi hota hai...ye print pattern  wale me ham ye use karenge
"2"*4

'2222'

In [80]:
"2"/ 3 # ye nahi hoga.error comes

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [81]:
type=bool(-1)