In [1]:
a='c'

In [2]:
type(a)

str

In [3]:
print("GOOd")

GOOd

In [4]:
print(2+3)

5

In [5]:
age=17
print("My age is:",age)

My age is: 17

In [7]:
# f string
marks=67
print(f"i got {marks} in maths of gtu exams")

i got 67 in maths of gtu exams

In [8]:
maths=67
pps=69
print(f'i score {maths} marks in math and {pps} marks in PPS')

i score 67 marks in math and 69 marks in PPS

In [10]:
# we can also print like this
maths=67
pps=69
print('i score {} marks in math and {} marks in PPS'.format(maths,pps))

i score 67 marks in math and 69 marks in PPS

In [12]:
maths=67
pps=69
print('i score {} marks in math and {} marks in PPS'.format(pps,maths))# possiblearise if ham aage piche kar denge

i score 69 marks in math and 67 marks in PPS

In [14]:
#to avoid above we can follow this one
maths=67
pps=69
print('i score {M} marks in math and {P} marks in PPS'.format(P=pps,M=maths))
#i know f string is easy but pata to hona chahiye na kuch bhi kabhi pe bhi kaam aa sakta hai

i score 67 marks in math and 69 marks in PPS

In [17]:
name="ANKUSH"
age=17.5
degree="BE"
print(f"My age is {age} and i complete my {degree} degree with the name of {name}")

My age is 17.5 and i complete my BE degree with the name of ANKUSH

In [19]:
print("My age is {age} and i complete my {deg} degree with the name of {A}".format(A=name,age=age,deg=degree))

My age is 17.5 and i complete my BE degree with the name of ANKUSH

# control flow
##  decision making

In [20]:
# if statement
age=18
if age>=18:
    print("YOU CAN GIVE VOTE")

YOU CAN GIVE VOTE

In [21]:
18>18

False

In [23]:
#Taking input
age=input("Enter your age")

Enter your age 13

In [24]:
age

'13'

In [25]:
#input always stores in str variabe
type(age)

str

In [2]:
# take input from user and give message if age is more than 18 he work and less than 45 he can work
age=int(input("Enter your age :"))
if age >=18 and age<=45:
    print('you can work bruh!!')
else:
    print("sorry, you are not eligible for work")

Enter your age : 45

you can work bruh!!

In [22]:
'''in mall-input the product price 
product >1000rs 20% off
print the product price
product<1000rs 30% off
print theproduct price
'''

price_of_product=int(input("ENTER THE PRICE OF PRODUCT"))
if price_of_product>1000:
    discount=(price_of_product*20)/100
    final_price=price_of_product - discount
    print(f'Rs.{final_price} you have to give for the product that you buy ')
else: 
    discount=(price_of_product*30)/100
    final_price=price_of_product - discount
    print(f'Rs.{final_price} you have to give for the product that you buy ')

ENTER THE PRICE OF PRODUCT 5000

Rs.4000.0 you have to give for the product that you buy

In [23]:
5000*(20/100)

1000.0

In [24]:
10*0.7

7.0

In [27]:
# second method
'''in mall-input the product price 
product >1000rs 20% off
print the product price
product<1000rs 30% off
print theproduct price
'''

price_of_product=int(input("ENTER THE PRICE OF PRODUCT"))
if price_of_product>1000:
    print(f'Rs{price_of_product*0.8} you have to give for the product that you buy ')  #20/100=0.2-->1-0.2=0.8
else: 
    print(f'Rs{price_of_product*0.7} you have to give for the product that you buy ')#30/100=0.3-->0.7

ENTER THE PRICE OF PRODUCT 562

Rs393.4 you have to give for the product that you buy

In [32]:

'''in mall-input the product price 
product >3000rs 20% off
print the product price
product>=2000 rs and <=3000 30% off
print the product price
product <=2000 40% off
print the product price after removing discount
'''

price_of_product=int(input("ENTER THE PRICE OF PRODUCT"))
if price_of_product>3000:
    print(f'Rs{price_of_product*0.8} you have to give for the product that you buy ')  #20/100=0.2-->1-0.2=0.8
elif price_of_product>=2000 and product_of_price<=3000:
    print(f'Rs{price_of_product*0.7} you have to give for the product that you buy ')#30/100=0.3-->0.7
else: 
    print(f'Rs{price_of_product*0.6} you have to give for the product that you buy ')#40/100=0

ENTER THE PRICE OF PRODUCT 4000

Rs3200.0 you have to give for the product that you buy

In [2]:
#single statement suites
val=int(input("Enter the money you have:"))
if val<=999: print("Lets buy ice-crean")
else:print("We can buy pizza now!!")

Enter the money you have: 1232

We can buy pizza now!!

##LOOPS

In [9]:
#while loops with else statement:
Amount_in_Bank=4500
while Amount_in_Bank!=0:
    print(f'paisa in bank remains is {Amount_in_Bank}')
    Amount_in_Bank=Amount_in_Bank - 500
else:
    print("atm is almost empty")

paisa in bank remains is 4500
paisa in bank remains is 4000
paisa in bank remains is 3500
paisa in bank remains is 3000
paisa in bank remains is 2500
paisa in bank remains is 2000
paisa in bank remains is 1500
paisa in bank remains is 1000
paisa in bank remains is 500
atm is almost empty

In [11]:
## LIST
l1=["REAL",2.4,"NAMASTE","VIRAT",'jab tak jai jaan',452]

In [12]:
type(l1)

list

In [13]:
l1[0]

'REAL'

In [14]:
l1[5]

452

In [15]:
##For loops:

l1=["REAL",2.4,"NAMASTE","VIRAT",'jab tak jai jaan',452]
for i in l1:
    print(i)

REAL
2.4
NAMASTE
VIRAT
jab tak jai jaan
452

In [17]:
l1=["REAL",2.4,"NAMASTE","VIRAT",'jab tak jai jaan',452]
for i in l1:
    print(i)
    if i=="NAMASTE":
        print("THIS IS GREET, in india")

REAL
2.4
NAMASTE
THIS IS GREET, in india
VIRAT
jab tak jai jaan
452

In [19]:
l1=["REAL",2.4,"NAMASTE","VIRAT",'jab tak jai jaan',452]
for i in l1:
    print(i,end=" ")# using end"" the next line will  not print

REAL 2.4 NAMASTE VIRAT jab tak jai jaan 452

In [20]:
fruit="MANGO" , "JAPAN"
for i in fruit:
    print(i)

MANGO
JAPAN

In [21]:
fruit="JAPAN"
for i in fruit:
    print(i)##surprise!!, don't surprise ...for sigle string there words or charcters will be shown

J
A
P
A
N

In [22]:
fruit[3]

'A'

In [24]:
fruit="JAPAN"
for i in fruit:
    print(i,end="")

JAPAN

In [27]:
#range(start,stop[,step])
for i in range(1,6):# 6 will not be include
    print(i)

1
2
3
4
5

In [30]:
for i in range(1,9,3):
    print(i)

1
4
7

In [34]:
##nested loops:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("#",end="")
    print("\r")

#
##
###
####
#####
######
#######